

/* ==========================================================================
   @Author : Clement ribe
   ========================================================================== */

#name-list .name{
	cursor: pointer;
}

#popup-bar{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 270px;
	overflow: hidden;
}
.popup{
	width: 200px;
	height: 280px;
	float: right;
	position: relative;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 10px;
	bottom: 60px;
	padding: 10px;
	background-color:white;
	border-radius: 10px 10px 10px 10px;
	box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;	
	
}

.close-btn{
	position: absolute;
	width: 15px;
	top: 15px;
	right: 30px;
	text-align: center;
	cursor: pointer;
}

.message{
	width: 150px;
}


body{
	min-height: 700px;
	padding-top: 65px;
	background: #EEEEEE url('../img/bg_index.png') center no-repeat;
}

/* ================================= HEADER ================================= */
.navbar-inverse{
	height: 65px;
	box-shadow: 0px 3px 2px grey;
	background: #222222;
}
.navbar-collapse{
	float: right;
	padding: 22px 15px !important;
	text-align: right;
}
.navbar-collapse:hover{
	background: #D86B21;	
}
.navbar-collapse a{
	color: #964106;
	font-weight: bold;
}
.navbar-collapse:hover a{
	color: 4C2306;
	text-decoration: none;
	font-weight: bold;
}
/* ========================================================================== */


/* ================================= CONTENT ================================ */
.btn-success{
	border: 1px solid #BC560F;
	background-image: linear-gradient(to bottom, #D86B21 0%, #BC560F 100%);
}

h1{
	width: 580px;
}

.right-column{
	position: absolute;
	top: 65px;
	right: 0;
	width: 150px;
	height: 100%;
	background: white;
	box-shadow: -2px 0px 2px grey;
}
.right-column .container-fluid{
	width: 100%;
	height: 70px;
	background: #D86B21;
}
.right-column .container-fluid .accordion-toggle{
	display: block;
	width: 150px;
	height: 90px;
	padding: 15px 15px 10px 15px;
	text-align: center;
	font-weight: bold;
	color: #964106;
	background-image: url('../img/top-arrow.png');
	background-repeat: no-repeat;
	background-position: 100px 55px;
	transition: background-position 0.3s ease 0s;
}
.right-column .container-fluid .accordion-toggle:hover{
	text-decoration: none;
	color: #EEEEEE;
	background-position: 100px 50px;
	transition: background-position 0.3s ease 0s;
}
.right-column .container-fluid .accordion-toggle.collapsed{
	background-image: url('../img/bottom-arrow.png') !important;
	background-repeat: no-repeat;
	background-position: 100px 60px;
	transition: background-position 0.3s ease 0s;
}
.right-column .container-fluid .accordion-toggle.collapsed:hover{
	background-image: url('../img/bottom-arrow.png') !important;
	background-position: 100px 70px;
	transition: background-position 0.3s ease 0s;
}
.right-column .container-fluid .accordion-toggle:focus, .right-column .container-fluid .accordion-toggle:active{
	border: 0 none;
	text-decoration: none;
}

#collapseOne{
	width: 150px;
}

#name-list{
	padding: 30px 0;
	background: #EEEEEE;
}
#name-list table{
	width: 150px;
}
#name-list table tr.blank{
	height: 15px;
}
#name-list table tr td{
	padding-right: 5px;
	text-align: right;
	color: #222222;
}
#name-list table tr td:hover{
	background: #CCCCCC;
	color: black;
}

/* Fenetre de conversation */
div#dialogue{
	position: relative;
	color:black;	
	width: 25%;	
	height: 270px;	
	background-color:white;
	border-radius: 15px 15px 15px 15px;
	box-shadow: -1px 2px 10px 3px rgba(0, 0, 0, 0.3) inset;	
	font-family:verdana,arial,helvetica;
	font-size:12px;
	font-weight:normal !important;
	
	width: 175px;
	float: right;
	display: inline-block;
	vertical-align: bottom;
	margin: 0 10px;
	padding: 10px;
}

/* Entete de fenetre de conversation*/
div#dialogueHeader{
	width: 100%;	
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;	
	font-family:arial,helvetica !important; 
}

/* Conteneurs du dialogue (des bulles) */
.dialContents{
	height: 150px;
	overflow: auto;
}

/* Bulle Sois-meme */
.userYourSelf{
	width: 70%;
	float: right;
	background-color: #74D0F1;
	border: thin solid #1E7FCB;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px 5px 0px 5px;
}

/* Bulle Interlocuteur */
.userOther{
	width: 70%;	
	float: left;
	background-color: #EEEEEE;
	border: thin solid #CCCCCC;
	margin-left: 10px;
	margin-top: 10px;
	border-radius: 5px 5px 5px 0px;
}

/* Formulaire de réponse */
div#answer{
	position: absolute;
	bottom: 20px; 
	left: 5px; 
	right: 5px;
}

/* Zone du texte/réponse */
textarea.txaMessage {
 	resize: none;
	margin-right: 10px;
	margin-left: 10px;
}

/* ========================================================================== */


/* ================================= FOOTER ================================= */
footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	padding: 15px 30px;
	border-top: 1px solid #7F7F7F;
	background: #CCCCCC;
}
/* ========================================================================== */




